.profileImage {
  padding: 0;
  border-radius: 5px;
}

.appearbottom {
  padding: 10px;
}

.workType {
  color: #dc3545;
}

.workType:after {
  content: "";
  padding: 2px;
  border-right: 2px solid red;
  animation: blink 0.5s ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
