/* .divcarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .carouselitem {
  flex-basis: calc(33.33% -10px);
  margin-bottom: 10px;
}

.carouselitem img {
  max-width: 100%;
  height: auto;
  display: block;
} */

.leftarrow {
  top: 50%;
  left: 0;
  float: left;
  position: relative;
}

.rightarrow {
  top: 50%;
  right: 0;
  float: right;
  position: relative;
}

.videocontainer {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 10px;
}
